@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.main {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bg-man-race-wear {
  background-image: url('/image/Photo/MAN_Race_Wear.png');
  background-size: contain;
  opacity: 50%;
  background-position: center;
}

.bg-kid-race-wear {
  background-image: url('/image/Photo/bimbo_menu.png');
  background-size: contain;
  opacity: 50%;
  background-position: center;
}

.bg-man-sport {
  background-image: url('/image/Photo/MAN_Race_Wear.png');
  background-size: contain;
  opacity: 50%;
  background-position: center;
}

.bg-woman-sport {
  background-image: url('/image/Photo/Donna_verde.png');
  background-size: contain;
  opacity: 50%;
  background-position: center;
}

.bg-coach-sport {
  background-image: url('/image/Photo/Coach.png');
  background-size: contain;
  opacity: 50%;
  background-position: center;
}

.bg-common {
  background-size: contain;
  opacity: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-Mx-1a { background-image: url('/image/Mx_Collection/MX1.png'); }
.bg-Mx-1b { background-image: url('/image/Mx_Collection/MX1_2.png'); }

.bg-Mx-3a { background-image: url('/image/Mx_Collection/MX3_1.png'); }
.bg-Mx-3b { background-image: url('/image/Mx_Collection/MX3.png'); }
.bg-Mx-3c { background-image: url('/image/Mx_Collection/MX3_2.png'); }

.bg-Mx-2a { background-image: url('/image/Mx_Collection/MX2.png'); }
.bg-Mx-2b { background-image: url('/image/Mx_Collection/MX2_2.png'); }

.bg-Mx-4a { background-image: url('/image/Mx_Collection/MX4.png'); }
.bg-Mx-4b { background-image: url('/image/Mx_Collection/MX4_2.png'); }

.bg-Mx-5a { background-image: url('/image/Mx_Collection/MX5.png'); }
.bg-Mx-5b { background-image: url('/image/Mx_Collection/MX5.png'); }

.bg-Mx-6a { background-image: url('/image/Mx_Collection/MX6.png'); }
.bg-Mx-6b { background-image: url('/image/Mx_Collection/MX6.png'); }

.bg-Mx-7a { background-image: url('/image/Mx_Collection/MX7.png'); }
.bg-Mx-7b { background-image: url('/image/Mx_Collection/MX7_2.png'); }
.bg-Mx-7c { background-image: url('/image/Mx_Collection/MX7_3.png'); }

.bg-Mx-8a { background-image: url('/image/Mx_Collection/MX8.png'); }
.bg-Mx-8b { background-image: url('/image/Mx_Collection/MX8_2.png'); }
.bg-Mx-8c { background-image: url('/image/Mx_Collection/MX8_3.png'); }

.bg-Mx-9a { background-image: url('/image/Mx_Collection/MX9.png'); }
.bg-Mx-9b { background-image: url('/image/Mx_Collection/MX9_1.png'); }
.bg-Mx-9c { background-image: url('/image/Mx_Collection/MX9_2.png'); }
.bg-Mx-9d { background-image: url('/image/Mx_Collection/MX9_3.png'); }

.bg-Mx-10a { background-image: url('/image/Mx_Collection/MX10.png'); }
.bg-Mx-10b { background-image: url('/image/Mx_Collection/MX10_2.png'); }

.bg-Mx-Kid { background-image: url('/image/Mx_Collection/Kid.png'); }

.bg-Sport-1a { background-image: url('/image/Sport_Man_Collection/T-shirt.png'); }
.bg-Sport-1b { background-image: url('/image/Sport_Man_Collection/T-shirt2.png'); }
.bg-Sport-1c { background-image: url('/image/Sport_Man_Collection/T-shirt3.png'); }

.bg-Sport-2a { background-image: url('/image/Sport_Man_Collection/Sweat_Shirt.png'); }
.bg-Sport-2b { background-image: url('/image/Sport_Man_Collection/Sweat_Shirt2.png'); }
.bg-Sport-2c { background-image: url('/image/Sport_Man_Collection/Sweat_Shirt3.png'); }
.bg-Sport-2d { background-image: url('/image/Sport_Man_Collection/Sweat_Shirt4.png'); }

.bg-Sport-3a { background-image: url('/image/Sport_Coach_Collection/Polo_Man.png'); }
.bg-Sport-3b { background-image: url('/image/Sport_Coach_Collection/Polo_Man2.png'); }
.bg-Sport-3c { background-image: url('/image/Sport_Coach_Collection/Polo_Man3.png'); }
.bg-Sport-3d { background-image: url('/image/Sport_Coach_Collection/Polo_Man4.png'); }

.bg-Sport-4a { background-image: url('/image/Sport_Coach_Collection/Lite_Jacket4.png'); }
.bg-Sport-4b { background-image: url('/image/Sport_Coach_Collection/Lite_Jacket3.png'); }
.bg-Sport-4c { background-image: url('/image/Sport_Coach_Collection/Lite_Jacket.png'); }
.bg-Sport-4d { background-image: url('/image/Sport_Coach_Collection/Lite_Jacket5.png'); }

.bg-Sport-5a { background-image: url('/image/Sport_Man_Collection/Giacca.png'); }
.bg-Sport-5b { background-image: url('/image/Sport_Man_Collection/Giacca2.png'); }
.bg-Sport-5c { background-image: url('/image/Sport_Man_Collection/Giacca3.png'); }
.bg-Sport-5d { background-image: url('/image/Sport_Man_Collection/Giacca4.png'); }

.bg-Sport_Woman-1a { background-image: url('/image/Sport_Woman_Collection/TShirt_Woman2.png'); }
.bg-Sport_Woman-1b { background-image: url('/image/Sport_Woman_Collection/TShirt_Woman.png'); }
.bg-Sport_Woman-1c { background-image: url('/image/Sport_Woman_Collection/TShirt_Woman3.png'); }

.bg-Sport_Woman-2a { background-image: url('/image/Sport_Woman_Collection/Lite_Jacket_Woman.png'); }
.bg-Sport_Woman-2b { background-image: url('/image/Sport_Woman_Collection/Lite_Jacket_Woman2.png'); }
.bg-Sport_Woman-2c { background-image: url('/image/Sport_Woman_Collection/Lite_Jacket_Woman3.png'); }
.bg-Sport_Woman-2d { background-image: url('/image/Sport_Woman_Collection/Lite_Jacket_Woman4.png'); }

.bg-Sport_Woman-3a { background-image: url('/image/Sport_Woman_Collection/Sport_Polo_Woman.png'); }
.bg-Sport_Woman-3b { background-image: url('/image/Sport_Woman_Collection/Sport_Polo_Woman2.png'); }
.bg-Sport_Woman-3c { background-image: url('/image/Sport_Woman_Collection/Sport_Polo_Woman3.png'); }
.bg-Sport_Woman-3d { background-image: url('/image/Sport_Woman_Collection/Sport_Polo_Woman4.png'); }
.bg-Sport_Woman-3e { background-image: url('/image/Sport_Woman_Collection/Sport_Polo_Woman5.png'); }

.bg-Sport_Coach-1a { background-image: url('/image/Sport_Coach_Collection/Coach_Gilet.png'); }
.bg-Sport_Coach-1b { background-image: url('/image/Sport_Coach_Collection/Coach_Gilet2.png'); }
.bg-Sport_Coach-1c { background-image: url('/image/Sport_Coach_Collection/Coach_Gilet3.png'); }
.bg-Sport_Coach-1d { background-image: url('/image/Sport_Coach_Collection/Coach_Gilet4.png'); }

.bg-Sport_Coach-2a { background-image: url('/image/Sport_Coach_Collection/Lite_Jacket.png'); }
.bg-Sport_Coach-2b { background-image: url('/image/Sport_Coach_Collection/Lite_Jacket3.png'); }
.bg-Sport_Coach-2c { background-image: url('/image/Sport_Coach_Collection/Lite_Jacket4.png'); }
.bg-Sport_Coach-2d { background-image: url('/image/Sport_Coach_Collection/Lite_Jacket5.png'); }

.bg-Sport_Coach-3a { background-image: url('/image/Sport_Coach_Collection/Polo_Man.png'); }
.bg-Sport_Coach-3b { background-image: url('/image/Sport_Coach_Collection/Polo_Man2.png'); }
.bg-Sport_Coach-3c { background-image: url('/image/Sport_Coach_Collection/Polo_Man3.png'); }
.bg-Sport_Coach-3d { background-image: url('/image/Sport_Coach_Collection/Polo_Man4.png'); }

.bg-Sport_Coach-4a{ background-image: url('/image/Sport_Coach_Collection/Track_Gilet.png'); }
.bg-Sport_Coach-4b{ background-image: url('/image/Sport_Coach_Collection/Track_Gilet2.png'); }
.bg-Sport_Coach-4c{ background-image: url('/image/Sport_Coach_Collection/Track_Gilet3.png'); }

.bg-Sport_Coach-5a{ background-image: url('/image/Sport_Man_Collection/Giacca.png'); }
.bg-Sport_Coach-5b{ background-image: url('/image/Sport_Man_Collection/Giacca2.png'); }
.bg-Sport_Coach-5c{ background-image: url('/image/Sport_Man_Collection/Giacca3.png'); }
.bg-Sport_Coach-5d{ background-image: url('/image/Sport_Man_Collection/Giacca4.png'); }

/* styles.css */
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}




